<h1>AngularJS PR TimeSeries (weekly snapshots)</h1>

<input type="range" ng-model="weeklyStart" min="0" max="1000">
<input type="range" ng-model="weeklyEnd" min="0" max="1000">
<time-series-graph time-series="weekTimeSeries" start="weeklyStart" end="weeklyEnd"></time-series-graph>


<h1>AngularJS PR TimeSeries (daily snapshots)</h1>

<input type="range" ng-model="dailyStart" min="0" max="1000">
<input type="range" ng-model="dailyEnd" min="0" max="1000">
<time-series-graph time-series="dayTimeSeries" start="dailyStart" end="dailyEnd"></time-series-graph>

